
  <!-- carosel information-->

.conteneur {
  width:431px;
  
  position:relative;
}


h1 {
  font-family: 'Roboto', sans-serif;
  font-weight:400;
  font-size:24px;
    color:black;
  margin:170px 0 80px 0;
 text-align :center; margin:auto;
}

.circle {
  background:transparent;
  margin:0px 0 50px 0;
  width:300px;
  height:300px;
  border:12px solid red;
  border-radius:50%;
  position:relative;
  -webkit-animation:animation 12s infinite linear;
  animation:animation 12s infinite linear;/*Safari and Chrome*/
  
}

.circle:hover {
  animation-play-state:paused;
  -webkit-animation-play-state:paused; /* Safari and Chrome */
}

.point_general {
  width:12px;
  height:12px;
  position:absolute;
  border-radius:50%;
  background:#2cb91f;
  border:6px solid #c1cfc1e1;
}

.point_general:after {
  width:0px;
  height:0px;
  position:absolute;
  top:0px;
  left:0px;
  content:'';
  background:#cedad7;
  opacity:0;
  border-radius:50%;
  -webkit-transition:all .4s ease;
  transition:all .4s ease;
}

.point_general:hover:after {
 opacity:0.8;
  width:200px;
  height:200px;
  top:-94px;
  left:-94px;
}

.texte {
  font-size: 20px;
  opacity:0;
  position:absolute;
  text-align:center;
  top:-50px;
  left:-50px;
  width:110px;
  height:110px;
  overflow:hidden;
  color:black;
  font-family: 'Roboto', sans-serif;
  z-index:10;
  -webkit-transition:opacity .2s 0s ease;
  transition:opacity .2s 0s ease;
  -webkit-animation:animation2 12s infinite linear;
  animation:animation2 12s infinite linear;/*Safari and Chrome*/
}

.point_general:hover .texte {
  opacity:1;
  -webkit-transition:opacity .4s .4s ease;
  transition:opacity .4s .4s ease;
}

.circle:hover .texte {
  animation-play-state:paused;
  -webkit-animation-play-state:paused; /* Safari and Chrome */
}

.point1 {
  top:30px;
  left:30px;
}

/*.point5:after {
  content:'Plerosque et est copia';
  text-align:center;
  padding:50px 0 0 0;
}*/

.point2 {
  top:-16px;
  left:138px;
}

.point3 {
  top:30px;
  right:30px;
}

.point4 {
  top:138px;
  right:-16px;
}

.point5 {
  bottom:30px;
  right:30px;
}

.point6 {
  bottom:-16px;
  left:138px;
}

.point7 {
  bottom:30px;
  left:30px;
}

.point8 {
  top:138px;
  left:-16px;
}

@keyframes animation
{
0% {transform:rotate(0deg);}
100% {transform:rotate(360deg);}
}

@-webkit-keyframes animation /*Safari and Chrome*/
{
0% {-webkit-transform:rotate(0deg);}
100% {-webkit-transform:rotate(360deg);}  
}

@keyframes animation2
{
0% {transform:rotate(0deg);}
100% {transform:rotate(-360deg);}
}

@-webkit-keyframes animation2 /*Safari and Chrome*/
{
0% {-webkit-transform:rotate(0deg);}
100% {-webkit-transform:rotate(-360deg);}  
}